<main>
  <div class="position-relative">
    <!-- shape Hero -->
    <section class="section section-shaped " style="padding-bottom: 0px">
      <div class="shape shape-style-1 shape-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="container py-lg-md d-flex">
        <div class="col px-0">
          <div class="row">
            <div class="col-lg-12 text-center">
              <h1 class="display-3  text-white">Un Açaì sur mesure
                <span>grâce à notre outil de confection en ligne </span>
              </h1>
              <p class="lead  text-white">Venez créer vous-même votre açaì et le récupérer au restaurant quand
                vous voulez !</p>
            </div>
          </div>
          <!-- >>>>>>>>>>>>>>> GESTION DU RENDU VISUEL <<<<<<<<<<<<<<<<<<<<<< -->
          <div>
            <div class="col-md-12 order-md-2 text-center" *ngIf="ShowDetails22">
              <img src="./assets/img/topping2.png" width="120px" class="img-fluid floating">
            </div>
            <div class="col-md-12 order-md-2 text-center" *ngIf="ShowDetails21">
              <img src="./assets/img/topping.png" width="120px" class="img-fluid floating">
            </div>
            <div class="col-md-12 order-md-2 text-center" style="line-height: 15px; margin-top:-5px"
              *ngIf="ShowDetails12">
              <img src="./assets/img/granola2_layer.jpeg" width="120px" class="img-fluid floating">
            </div>
            <div class="col-md-12 order-md-2 text-center" style="line-height: 15px; margin-top:-5px"
              *ngIf="ShowDetails11">
              <img src="./assets/img/granola1_layer.jpeg" width="120px" class="img-fluid floating">
            </div>
            <div class="col-md-12 order-md-2 text-center" style="margin-top:-5px" *ngIf="ShowDetails7">
              <img src="./assets/img/orange_chunk.jpeg" width="120px" class="img-fluid floating">
            </div>
            <div class="col-md-12 order-md-2 text-center" style="margin-top:-5px" *ngIf="ShowDetails6">
              <img src="./assets/img/myrtilles_chunk.png" width="120px" class="img-fluid floating">
            </div>
            <div class="col-md-12 order-md-2 text-center" style="margin-top:-5px" *ngIf="ShowDetails5">
              <img src="./assets/img/strawberries_chunk.png" width="120px" class="img-fluid floating">
            </div>
            <div class="col-md-12 order-md-2 text-center" style="margin-top:-5px" *ngIf="ShowDetails4">
              <img src="./assets/img/mangue_chunk.jpeg" width="120px" class="img-fluid floating">
            </div>
            <div class="col-md-12 order-md-2 text-center" style="margin-top:-5px" *ngIf="ShowDetails3">
              <img src="./assets/img/kiwi_chunk.jpg" width="120px" class="img-fluid floating">
            </div>
            <div class="col-md-12 order-md-2 text-center" style="margin-top:-5px" *ngIf="ShowDetails2">
              <img src="./assets/img/pineapple_chunks.jpg" width="120px" class="img-fluid floating">
            </div>
            <div class="col-md-12 order-md-2 text-center" style="margin-top:-5px" *ngIf="ShowDetails1">
              <img src="./assets/img/apple_chunk.jpg" width="120px" class="img-fluid floating">
            </div>
            <div class="col-md-12 order-md-2 text-center" style="margin-top:-5px" *ngIf="select">
              <img src="./assets/img/goblet 2.png" width="120px" class="img-fluid floating">
            </div>
            <div class="col-md-12 order-md-2 text-center" style="margin-top:-5px" *ngIf="ShowCup">
              <img src="./assets/img/goblet base 2.png" width="120px" class="img-fluid floating">
            </div>
          </div>
          <!-- FIN <<<<<<<<<<<<<<<<<<<<<< -->


        </div>

      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>
    <!-- 1st Hero Variation -->
  </div>
  <section class="section section-lg section-shaped" style="padding-bottom: 5px; padding-top: 0px;">

    <div class="container">
      <div class="row justify-content-center zindex-100" >
        <div class="col-lg-12">
          <div class="row row-grid">
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5 text-center">
                  <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                    <b>1</b>
                  </div>
                  <h6 class="text-primary text-uppercase">Choisissez une base</h6>
                  <p class="description mt-3">Pour le moment nous ne proposons que la pulpe d'açaì comme base. <br>
                    Il existe 3 tailles différentes que vous choisirez lors de la récupération.</p>
                  <div>
                    <button *ngIf="!ShowCup && !select" class="btn btn-1 btn-outline-primary" type="button"
                      (click)="selectElement(0)">Açaì</button>
                    <!-- <span class="badge badge-pill badge-primary">Açaì</span> -->
                    <button *ngIf="ShowCup || select" class="btn btn-1 btn-primary" type="button">Açaì</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5 text-center">
                  <div class="icon icon-shape icon-shape-success rounded-circle mb-4">
                    <b>2</b>
                  </div>
                  <h6 class="text-success text-uppercase">Choisissez un ou deux fruits</h6>
                  <p class="description mt-3">Fruits exotiques ou pomme banane ? <br>
                    Nous travaillons avec des produits frais et ne pouvons garantir que toutes ces propositions seront
                    disponibles.</p>
                  <div style="margin-bottom:3px">
                    <button *ngIf="!ShowDetails1" class="btn btn-1 btn-outline-success" type="button"
                      (click)="selectElement(1)">Pomme</button>
                    <button *ngIf="ShowDetails1" class="btn btn-1 btn-success" type="button">Pomme</button>
                    <button *ngIf="!ShowDetails2" class="btn btn-1 btn-outline-success" type="button"
                      (click)="selectElement(2)">Ananas</button>
                    <button *ngIf="ShowDetails2" class="btn btn-1 btn-success" type="button">Ananas</button>
                  </div>
                  <div style="margin-bottom:3px">
                    <button *ngIf="!ShowDetails3" class="btn btn-1 btn-outline-success" type="button"
                      (click)="selectElement(3)">Kiwi</button>
                    <button *ngIf="ShowDetails3" class="btn btn-1 btn-success" type="button">Kiwi</button>
                    <button *ngIf="!ShowDetails4" class="btn btn-1 btn-outline-success" type="button"
                      (click)="selectElement(4)">Mangue</button>
                    <button *ngIf="ShowDetails4" class="btn btn-1 btn-success" type="button">Mangue</button>
                  </div>
                  <div style="margin-bottom:3px">
                    <button *ngIf="!ShowDetails5" class="btn btn-1 btn-outline-success" type="button"
                      (click)="selectElement(5)">Fraises</button>
                    <button *ngIf="ShowDetails5" class="btn btn-1 btn-success" type="button">Fraises</button>
                    <button *ngIf="!ShowDetails6" class="btn btn-1 btn-outline-success" type="button"
                      (click)="selectElement(6)">Myrtilles</button>
                    <button *ngIf="ShowDetails6" class="btn btn-1 btn-success" type="button">Myrtilles</button>
                  </div>
                  <div>
                    <button *ngIf="!ShowDetails7" class="btn btn-1 btn-outline-success" type="button"
                      (click)="selectElement(7)">Orange</button>
                    <button *ngIf="ShowDetails7" class="btn btn-1 btn-success" type="button">Orange</button>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card card-lift--hover shadow border-0">
                <div class="card-body py-5 text-center">
                  <div class="icon icon-shape icon-shape-warning rounded-circle mb-4">
                    <b>3</b>
                  </div>
                  <h6 class="text-warning text-uppercase">Choisissez un topping et un granola</h6>
                  <p class="description mt-3">Touts les incrédients ajoutés peuvent être mis sur le dessus, au milieu, et même répartis sur 3 étages pour les grandes tailles.<br>
                    Pour le moment nous avons 2 types de Granola.</p>
                  <div>
                    <div style="margin-bottom:3px">
                      <button *ngIf="!ShowDetails11" class="btn btn-1 btn-outline-warning" type="button"
                        (click)="selectElement(11)">Granola bio </button>
                      <button *ngIf="ShowDetails11" class="btn btn-1 btn-warning" type="button">Granola bio</button>
                      <button *ngIf="!ShowDetails12" class="btn btn-1 btn-outline-warning" type="button"
                        (click)="selectElement(12)">Granola avoine</button>
                      <button *ngIf="ShowDetails12" class="btn btn-1 btn-warning" type="button">Granola avoine</button>
                    </div>
                    <div style="margin-bottom:3px">
                      <!-- Miel chocolat, nutella, caramel, beurre de cacaouète -->
                      <button *ngIf="!ShowDetails21" class="btn btn-1 btn-outline-warning" type="button"
                        (click)="selectElement(21)">lait condensé</button>
                      <button *ngIf="ShowDetails21" class="btn btn-1 btn-warning" type="button">lait condensé</button>
                      <button *ngIf="!ShowDetails22" class="btn btn-1 btn-outline-warning" type="button"
                        (click)="selectElement(22)">soufle hivernal</button>
                      <button *ngIf="ShowDetails22" class="btn btn-1 btn-warning" type="button">soufle hivernal</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="col-md-12 order-md-2 text-center" *ngIf="select">
              <img src="./assets/img/goblet base.png" width="100px" class="img-fluid floating">
            </div> -->

          </div>
        </div>
      </div>
    </div>

  </section>
  <section class="section pb-0 bg-gradient-warning has-cards" >
    <div class="container">
      <div class="row row-grid align-items-center">
        <div class="col-lg-12 order-lg-1">
          <div class="pl-4">
            <div class="row text-center">
              <!-- >>>>>>>>>>>>>>> GESTION DU RENDU VISUEL <<<<<<<<<<<<<<<<<<<<<< -->
              <div class="col-md-3 " #screen>
                <div *ngIf="ShowDetails22">
                  <img src="./assets/img/topping2.png" width="120px">
                </div>
                <div *ngIf="ShowDetails21">
                  <img src="./assets/img/topping.png" width="120px">
                </div>
                <div style="line-height: 15px; margin-top:-5px" *ngIf="ShowDetails12">
                  <img src="./assets/img/granola2_layer.jpeg" width="120px">
                </div>
                <div style="line-height: 15px; margin-top:-5px" *ngIf="ShowDetails11">
                  <img src="./assets/img/granola1_layer.jpeg" width="120px">
                </div>
                <div style="margin-top:-5px" *ngIf="ShowDetails7">
                  <img src="./assets/img/orange_chunk.jpeg" width="120px">
                </div>
                <div style="margin-top:-5px" *ngIf="ShowDetails6">
                  <img src="./assets/img/myrtilles_chunk.png" width="120px">
                </div>
                <div style="margin-top:-5px" *ngIf="ShowDetails5">
                  <img src="./assets/img/strawberries_chunk.png" width="120px">
                </div>
                <div style="margin-top:-5px" *ngIf="ShowDetails4">
                  <img src="./assets/img/mangue_chunk.jpeg" width="120px">
                </div>
                <div style="margin-top:-5px" *ngIf="ShowDetails3">
                  <img src="./assets/img/kiwi_chunk.jpg" width="120px">
                </div>
                <div style="margin-top:-5px" *ngIf="ShowDetails2">
                  <img src="./assets/img/pineapple_chunks.jpg" width="120px">
                </div>
                <div style="margin-top:-5px" *ngIf="ShowDetails1">
                  <img src="./assets/img/apple_chunk.jpg" width="120px">
                </div>
                <div style="margin-top:-5px" *ngIf="select">
                  <img src="./assets/img/goblet 2.png" width="120px">
                </div>
                <div style="margin-top:-5px" *ngIf="ShowCup">
                  <img src="./assets/img/goblet base 2.png" width="120px">
                </div>
                <!-- FIN <<<<<<<<<<<<<<<<<<<<<< -->
              </div>
              <div class="col-md-3">
                <div *ngIf="ShowDetails22">
                  <p>Soufle hivernal</p>
                </div>
                <div *ngIf="ShowDetails21">
                  <p>Lait condensé</p>
                </div>
                <div style="line-height: 15px; margin-top:-5px" *ngIf="ShowDetails12">
                  <p>Granola bio</p>
                </div>
                <div style="line-height: 15px; margin-top:-5px" *ngIf="ShowDetails11">
                  <p>Granola Avoine</p>
                </div>
                <div style="margin-top:-5px" *ngIf="ShowDetails7">
                  <p>Orange</p>
                </div>
                <div style="margin-top:-5px" *ngIf="ShowDetails6">
                  <p>Myrtilles</p>
                </div>
                <div style="margin-top:-5px" *ngIf="ShowDetails5">
                  <p>Fraises</p>
                </div>
                <div style="margin-top:-5px" *ngIf="ShowDetails4">
                 <p>Mangue</p>
                </div>
                <div style="margin-top:-5px" *ngIf="ShowDetails3">
                  <p>Kiwi</p>
                </div>
                <div style="margin-top:-5px" *ngIf="ShowDetails2">
                <p>Ananas</p>
                </div>
                <div style="margin-top:-5px" *ngIf="ShowDetails1">
                  <p>Pomme</p>
                </div>
                <div style="margin-top:-5px" *ngIf="select">
                 <p>Base Açaì</p>
                 <button class="btn btn-1 btn-danger" (click)="reload()"> <img src="./assets/vendor/nucleo/fonts/cycle.svg"></button>
                </div>
                <div style="margin-top:-5px" *ngIf="ShowCup">
                 <button class="btn btn-1 btn-danger" (click)="reload()"> <img src="./assets/vendor/nucleo/fonts/cycle.svg"></button>
                  <p>Açaì seul</p>
                </div>
                <br>
              </div>
              <div class="col-md-3">
                <div class="form-group " [ngClass]="{'focused':focus===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-user-run"></i></span>
                    </div>
                    <input class="form-control" placeholder="Your name" type="text" (focus)="focus=true"
                      (blur)="focus=false">
                  </div>
                </div>
                <div class="form-group" [ngClass]="{'focused':focus1===true}">
                  <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" placeholder="Email address" type="email" (focus)="focus1=true"
                      (blur)="focus1=false">
                  </div>
                </div>
              </div>
              <div class="col-md-3" style="padding-top:20px; padding-bottom: 20px;">
                <button class="btn btn-1 btn-success" (click)="capture()" type="button">GO !</button>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>



  <section class="section section-lg section-shaped">
    <div class="shape shape-style-1 shape-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
     <div class="container py-md">
      <div *ngIf="ShowPhoto">
        <div class="row">
          <div class="col-md-4">
          <img src="{{image}}" alt="" width="100">
          </div>
          <div class="col-md-8">
            <p></p>
          </div>
        </div>
      </div>
     <!-- <div class="row row-grid justify-content-between align-items-center">
        <div class="col-lg-6">
          <h3 class="display-3 text-white">A beautiful Design System
            <span class="text-white">completed with examples</span>
          </h3>
          <p class="lead text-white">The Design System comes with four pre-built pages to help you get started faster. You can change the text and images and you're good to go. More importantly, looking at them will give you a picture of what you can built with this powerful Bootstrap 4 Design System.</p>
          <div class="btn-wrapper">
            <a [routerLink]="['/login']" class="btn btn-success">Login Page</a>
            <a [routerLink]="['/register']" class="btn btn-white">Register Page</a>
          </div>
        </div>
        <div class="col-lg-5 mb-lg-auto">
          <div class="transform-perspective-right">
            <div class="card bg-secondary shadow border-0">
              <div class="card-header bg-white pb-5">
                <div class="text-muted text-center mb-3">
                  <small>Sign in with</small>
                </div>
                <div class="btn-wrapper text-center">
                  <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
                    <span class="btn-inner--icon">
                      <img src="./assets/img/icons/common/github.svg">
                    </span>
                    <span class="btn-inner--text">Github</span>
                  </a>
                  <a href="javascript:void(0)" class="btn btn-neutral btn-icon">
                    <span class="btn-inner--icon">
                      <img src="./assets/img/icons/common/google.svg">
                    </span>
                    <span class="btn-inner--text">Google</span>
                  </a>
                </div>
              </div>
              <div class="card-body px-lg-5 py-lg-5">
                <div class="text-center text-muted mb-4">
                  <small>Or sign in with credentials</small>
                </div>
                <form role="form">
                  <div class="form-group mb-3" [ngClass]="{'focused':focus===true}">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                      </div>
                      <input class="form-control" placeholder="Email" type="email" (focus)="focus=true" (blur)="focus=false">
                    </div>
                  </div>
                  <div class="form-group" [ngClass]="{'focused':focus1===true}">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                      </div>
                      <input class="form-control" placeholder="Password" type="password" (focus)="focus1=true" (blur)="focus1=false">
                    </div>
                  </div>
                  <div class="custom-control custom-control-alternative custom-checkbox">
                    <input class="custom-control-input" id=" customCheckLogin2" type="checkbox">
                    <label class="custom-control-label" for=" customCheckLogin2">
                      <span>Remember me</span>
                    </label>
                  </div>
                  <div class="text-center">
                    <button type="button" class="btn btn-primary my-4">Sign in</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div> 
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>


</main>