<section class="section section-lg section-nucleo-icons pb-250">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center">
        <h2 class="display-3">L'Açaì c'est quoi ?</h2>
        <p class="lead">
          C'est un fruit issu d'un palmier gracile provenant de l'amazonie et pouvant mesurer jusqu'à 20 mètres. Ce
          fruit ressemble beaucoup à la myrtille et au bleuet, il poussent en grappe le long des tronc et son goût se
          situe entre le chocolat et les fruits rouges. Cette baie étant très fragile, le meilleur moyen de la conserver
          et de la congeler rapidement après la cueillette. Au Brésil, on le retrouve partout et il est généralement
          servi sous forme de sorbet avec banane, granola ou lait condensé selon vos envies. Sa pulpes est très riche en
          vitamine et possède de nombreuses qualités nutritionnelles !
        </p>
      </div>
      
    </div>
    <div class="blur--hover">
      <a href="https://demos.creative-tim.com/argon-design-system-angular/documentation/icons?ref=adsa-nucleo-section">
        <div class="icons-container blur-item mt-5" data-toggle="on-screen">
          <!-- Center -->
          <i><img src="./assets/img/açaiberries.png" style="width: 100px;"></i>
          <!-- <img src="./assets/img/açai-icon.png"> -->

          <!-- Right 1 -->
          <i><img src="./assets/img/lemon.png" style="width: 80px;"></i>
          <i><img src="./assets/img/watermelon.png" style="width: 100px;"></i>
          <i><img src="./assets/img/pineapple.png" style="width: 100px;"></i>
          <!-- Right 2 -->
          <i>
            <h4>Oméga 3-6-9</h4>
          </i>
          <i>
            <h4>Minéraux</h4>
          </i>
          <i>
            <h4>Fibres</h4>
          </i>
          <!-- Left 1 -->
          <i><img src="./assets/img/maracuja.png" style="width: 80px;"></i>
          <i><img src="./assets/img/apple.png" style="width: 100px;"></i>
          <i><img src="./assets/img/mangue.png" style="width: 100px;"></i>
          <!-- Left 2 -->
          <i>
            <h4>Vitamines</h4>
          </i>
          <i>
            <h4>Antioxydant</h4>
          </i>
          <i>
            <h4>Ca²+ K+ P-</h4>
          </i>
        </div>
        <span class="blur-hidden h5 text-success">Venez découvrir nos différents recettes & formats </span>
      </a>
    </div>
  </div>
</section>