<main>
  <section class="section section-shaped section-lg">
    <div class="shape shape-style-1 bg-gradient-default">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container pt-lg-md">
      <div class="row justify-content-center">
        <p class="lead text-white " style="margin-left:10px; margin-right:10px">
          C'est un fruit issu d'un palmier gracile provenant de l'amazonie et pouvant mesurer jusqu'à 20 mètres. Ce
          fruit ressemble beaucoup à la myrtille et au bleuet, il poussent en grappe le long des tronc et son goût se
          situe entre le chocolat et les fruits rouges. </p>
           <br>
           <div *ngIf="mobile">
            <img src="./assets/img/car-hand.jpeg" width="100%" alt="berries">
           </div>
           <br>
        <p class="lead text-white " style="margin-left:10px; margin-right:10px">
          Cette baie étant très fragile, le meilleur moyen de la conserver
          et de la congeler rapidement après la cueillette. Au Brésil, on le retrouve partout et il est généralement
          servi sous forme de sorbet avec banane, granola ou lait condensé selon vos envies. Sa pulpes est très riche en
          vitamine et possède de nombreuses qualités nutritionnelles !
        </p>
        <br>
      </div>
      <div class="row justify-content-center" *ngIf="mobile">
        <img src="./assets/img/car-pairot.jpeg" width="100%" alt="pairot">
       </div>
      <div *ngIf="!mobile">
        <app-carrousel></app-carrousel>
      </div>
    </div>
  </section>
</main>