<main class="profile-page">
  
  <section class="section section-shaped section-lg">
    <!-- Circles background -->
    <!-- <div class="shape shape-style-1 shape-primary alpha-4"> -->
    <!-- <div class="shape shape-style-1 bg-gradient-orange"> -->
    <div class="shape shape-style-1 bg-gradient-primary">


      <!-- <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span> -->
    </div>
    <div class="container py-lg-md d-flex">
      <div class="col px-0">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h1 class="display-4  text-white">
              <font size="34px">La Carte</font>
              <span>laissez-vous tenter par une de nos suggestions </span>
            </h1>
            <p class="lead  text-white"> ou si vous êtes d'humeur
              créative, composez vous-même votre coupe >><a href="#/landing">ici <i
                  class=" tim-icons icon-double-right"></i></a>
              <<.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- SVG separator -->
    <!-- <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
        xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div> -->
  </section>
  <section class="section">
    <div class="container">
      <div class="card card-profile shadow">
        <div class="px-4">
          <div class="row justify-content-center">
            <div class="col-lg-4 order-lg-1">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <img src="./assets/img/cup-sport.png" alt="" width="200px"> <br>
                  <span class="heading">Coupe Sport</span> 
                  <span class="description">400 ml - Granola - Banane & Orange - Miel</span><br>
                  <span> 14 €</span>
                </div>
              </div>
            </div>
            <div class="col-lg-4 order-lg-1">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <img src="./assets/img/cup-junior.png" alt="" width="200px"> <br>
                  <span class="heading">Coupe Junior</span> 
                  <span class="description"> 250 ml - Banane - Lait concentré</span><br><br>
                  <span> 6 €</span>
                </div>
              </div>
            </div>
            <div class="col-lg-4 order-lg-1">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <img src="./assets/img/cup-plaisir.png" alt="" width="200px"> <br>
                  <span class="heading">Coupe Plaisir</span> 
                  <span class="description">300 ml - Fraises & Myrtilles - Caramel </span><br><br>
                  <span> 12 €</span>
                </div>
              </div>
            </div>
            <div class="col-lg-4 order-lg-1">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <img src="./assets/img/cup-vitalité.png" alt="" width="200px"> <br>
                  <span class="heading">Coupe Vitalité</span>
                  <span class="description">400 ml - Kiwi & Ananas - Popcorn</span><br><br>
                  <span> 11 €</span>
                </div>
              </div>
            </div>
            <div class="col-lg-4 order-lg-1">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <img src="./assets/img/cup-exotique.png" alt="" width="200px"> <br>
                  <span class="heading">Coupe Exotique</span>
                  <span class="description"> 300 ml - Mangue & Ananas - Beurre de Cacaouète</span><br>
                  <span> 13 €</span>
                </div>
              </div>
            </div>
            <div class="col-lg-4 order-lg-1">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <img src="./assets/img/cup-tradi.png" alt="" width="200px"> <br>
                  <span class="heading">Coupe Traditionelle</span>
                  <span class="description">300 ml - Banane - Granola - Lait concentré </span><br><br>
                  <span> 8 €</span>
                </div>
              </div>
            </div>
          </div>
          <p class="text-center">Si vous ne trouvez pas votre bonheur, composez votre propre Açaì <a
              href="#/landing">ici <i class=" tim-icons icon-double-right"></i></a>
            .</p>
          <div class="mt-5 py-5 border-top text-center">
            <div class="row justify-content-center">
              <div class="col-lg-9">
                <p>Ingrédient supplémentaire :</p>
                <p> Myrtilles - Poire - Pomme - Ananas - Sirop 1€</p>
                <p> Granola - Mangue 2€</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br> <br> <br> <br> <br> <br>
      <br> <br> <br> <br> <br> <br>
      <br> <br> <br> <br> <br> <br>
      <div class="card card-profile shadow mt--300">
        <div class="px-4">
          <div class="row justify-content-center">
            <div class="col-lg-4 order-lg-1">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading">Coxinha</span>
                  <span class="description">Poulet</span><br>
                  <img src="./assets/img/coxinha-poulet.png" alt=""> <br>
                  <span> 4 €</span>
                </div>
              </div>
            </div>
            <div class="col-lg-4 order-lg-1">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading">Coxinha</span>
                  <span class="description"> Légumes</span><br>
                  <img src="./assets/img/coxinha-legumes.png" alt=""> <br>
                  <span> 4 €</span>
                </div>
              </div>
            </div>
            <div class="col-lg-4 order-lg-1">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading">Tapioca</span>
                  <span class="description">à base de farine de manioc : Jambon/fromage ou Tomate/mozza </span><br>
                  <img src="./assets/img/tapioca.png" alt=""> <br>
                  <span> 8 €</span>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-5 py-5 border-top text-center">
            <div class="row justify-content-center">
              <div class="col-lg-9">
                <p>Offre valable selon disponibilité</p>
                <p> Accompagné de sauce pimenté</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br> <br> <br> <br> <br> <br>
      <br> <br> <br> <br> <br> <br>
      <br> <br> <br> <br> <br> <br>
      <div class="card card-profile shadow mt--300">
        <div class="px-4">
          <div class="row justify-content-center">
            <div class="col-lg-4 order-lg-1" #boisson>
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading">Coca</span>
                  <span class="description">33 cl</span> <br>
                  <img src="./assets/img/coca.png" alt=""> <br>
                  <span> 2 €</span>
                </div>
              </div>
            </div>
            <div class="col-lg-4 order-lg-1">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading">Guarana - Antartica</span>
                  <span class="description"> 35 cl</span> <br>
                  <img src="./assets/img/guarana.png" alt=""> <br>
                  <span> 3 €</span>
                </div>
              </div>
            </div>
            <div class="col-lg-4 order-lg-1">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading">7up Mojito</span>
                  <span class="description">33 cl</span> <br>
                  <img src="./assets/img/7up.png" alt=""> <br>
                  <span> 2 €</span>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-5 py-5 border-top text-center">
            <div class="row justify-content-center">
              <div class="col-lg-9">
                <p>Egalement disponible :</p>
                <p>IceTea - Eau pétillante - Jus d'orange</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

</main>