<main class="profile-page">
  <section class="section-profile-cover section-shaped my-0">
    <!-- Circles background -->
    <div class="shape shape-style-1 shape-primary alpha-4">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="container py-lg-md d-flex">
      <div class="col px-0">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h1 class="display-3  text-white">
              <br>
              <span>La Carte</span>
            </h1>
            <p class="lead  text-white">The design system comes with four pre-built pages to help you get started
              faster. You can change the text and images and you're good to go.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="card card-profile shadow mt--300">
        <div class="px-4">
          <div class="row justify-content-center">
            <div class="col-lg-4 order-lg-1">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading">Cup Sport</span>
                  <span class="description">400 ml - Granola - banane - Guarana</span>
                  <img src="./assets/img/açai-cub-licence.png" alt=""> <br>
                  <span> 14 €</span>
                </div>
              </div>
            </div>
            <div class="col-lg-4 order-lg-1">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading">Cup Junior</span>
                  <span class="description"> 250 ml - Bananes - Lait condensé</span>
                  <img src="./assets/img/açai-cub-licence.png" alt=""> <br>
                  <span> 7 €</span>
                </div>
              </div>
            </div>
            <div class="col-lg-4 order-lg-1">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading">Cup plaisir</span>
                  <span class="description">300 ml - Fraises & Myrtilles </span>
                  <img src="./assets/img/açai-cub-licence.png" alt=""> <br>
                  <span> 8 €</span>
                </div>
              </div>
            </div>
            <div class="col-lg-4 order-lg-1">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading">Cup Sport</span>
                  <span class="description">400 ml - Granola - banane - Guarana</span>
                  <img src="./assets/img/açai-cub-licence.png" alt=""> <br>
                  <span> 14 €</span>
                </div>
              </div>
            </div>
            <div class="col-lg-4 order-lg-1">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading">Cup Junior</span>
                  <span class="description"> 250 ml - Bananes - Lait condensé</span>
                  <img src="./assets/img/açai-cub-licence.png" alt=""> <br>
                  <span> 7 €</span>
                </div>
              </div>
            </div>
            <div class="col-lg-4 order-lg-1">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading">Cup plaisir</span>
                  <span class="description">300 ml - Fraises & Myrtilles </span>
                  <img src="./assets/img/açai-cub-licence.png" alt=""> <br>
                  <span> 8 €</span>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-5 py-5 border-top text-center">
            <div class="row justify-content-center">
              <div class="col-lg-9">
                <p>Ingrédient supplémentaire :</p>
                <p> Myrtilles - Poire - Pomme - Ananas - Sirop 1€</p>
                <p> Granola - Mangue 2€</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <br> <br> <br> <br> <br> <br>
    <br> <br> <br> <br> <br> <br>
    <br> <br> <br> <br> <br> <br>
      <div class="card card-profile shadow mt--300">
        <div class="px-4">
          <div class="row justify-content-center">
            <div class="col-lg-4 order-lg-1">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading">Coxinha</span>
                  <span class="description">Poulet</span>
                  <img src="./assets/img/coxinha-poulet.png" alt=""> <br>
                  <span> 4 €</span>
                </div>
              </div>
            </div>
            <div class="col-lg-4 order-lg-1">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading">Coxinha</span>
                  <span class="description"> Légumes</span>
                  <img src="./assets/img/coxinha-legumes.png" alt=""> <br>
                  <span> 4 €</span>
                </div>
              </div>
            </div>
            <div class="col-lg-4 order-lg-1">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading">Tapioca</span>
                  <span class="description">à base de farine de manioc : Jambon/fromage ou Tomate/mozza </span>
                  <img src="./assets/img/tapioca.png" alt=""> <br>
                  <span> 8 €</span>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-5 py-5 border-top text-center">
            <div class="row justify-content-center">
              <div class="col-lg-9">
                <p>Offre valable selon disponibilité</p>
                <p> Accompagné de sauce pimenté</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br> <br> <br> <br> <br> <br>
    <br> <br> <br> <br> <br> <br>
    <br> <br> <br> <br> <br> <br>
      <div class="card card-profile shadow mt--300">
        <div class="px-4">
          <div class="row justify-content-center">
            <div class="col-lg-4 order-lg-1" #boisson>
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading">Coca</span> 
                  <span class="description">33 cl</span> <br>
                  <img src="./assets/img/coca.png" alt=""> <br>
                  <span> 2 €</span>
                </div>
              </div>
            </div>
            <div class="col-lg-4 order-lg-1">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading">Guarana - Antartica</span>
                  <span class="description"> 35 cl</span> <br>
                  <img src="./assets/img/guarana.png" alt=""> <br>
                  <span> 3 €</span>
                </div>
              </div>
            </div>
            <div class="col-lg-4 order-lg-1">
              <div class="card-profile-stats d-flex justify-content-center">
                <div>
                  <span class="heading">7up Mojito</span>
                  <span class="description">33 cl</span> <br>
                  <img src="./assets/img/7up.png" alt=""> <br>
                  <span> 2 €</span>
                </div>
              </div>
            </div>
          </div>
          <div class="mt-5 py-5 border-top text-center">
            <div class="row justify-content-center">
              <div class="col-lg-9">
                <p>Egalement disponible :</p>
                <p>IceTea - Eau pétillante - Jus d'orange</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
</main>