<nav id="navbar-main"
  class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom headroom--top headroom--pinned">
  <div class="container">
    <a class="navbar-brand mr-lg-1" [routerLink]="['/home']" routerLinkActive="active">
      <img src="./assets/img/favicon.png">
    </a>
    <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbar_global" [ngbCollapse]="isCollapsed">
      <div class="navbar-collapse-header">
        <div class="row">
          <div class="col-10 collapse-brand">
            <a [routerLink]="['/home']" routerLinkActive="active">
              <img src="./assets/img/favicon.png">
              Accueil
            </a>
          </div>
          <div class="col-2 collapse-close">
            <button type="button" class="navbar-toggler" (click)="isCollapsed = !isCollapsed"
              [attr.aria-expanded]="!isCollapsed" aria-controls="navbar_global">
              <span></span>
              <span></span>
            </button>
          </div>
        </div>
      </div>
      <ul class="navbar-nav navbar-nav-hover align-items-lg-center">
        <li class="nav-item dropdown">
          <a href="#/Açai" class="nav-link no-caret" data-toggle="dropdown" role="button" routerLinkActive="active" >
            <i class="ni ni-bulb-61 d-lg-none"></i>
            <span class="nav-link-inner--text">
              L'Açaì c'est quoi ?</span>
          </a>
          <!-- <div class="dropdown-menu">
            <a [routerLink]="['/landing']" class="dropdown-item">Landing</a>
            <a [routerLink]="['/user-profile']" class="dropdown-item">Profile</a>
            <a [routerLink]="['/login']" class="dropdown-item">Login</a>
            <a [routerLink]="['/register']" class="dropdown-item">Register</a>
          </div> -->
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link no-caret" data-toggle="dropdown" role="button" routerLinkActive="active" [routerLink]="['/menu']">
            <i class="ni ni-collection d-lg-none"></i>
            <span class="nav-link-inner--text"> La Carte</span>
          </a>
          <!-- <div class="dropdown-menu-xl dropdown-menu">
           TODO MENU détail dropdown <div class="dropdown-menu-inner">
              <a href="#/menu" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-primary rounded-circle text-white">
                  <img src="./assets/vendor/nucleo/fonts/popcorn.svg">

                </div>
                <div class="media-body ml-3">
                  <h6 class="heading text-primary mb-md-1">Les açaìs</h6>
                  <p class="description d-none d-md-inline-block mb-0">Venez décoourvir nos prosition d'açaì bowl à
                    consommer sur place ou à emporter</p>
                </div>
              </a>
              <a routerLinkActive="active" [routerLink]="['/menu']"
                class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-warning rounded-circle text-white">
                  <img src="./assets/vendor/nucleo/fonts/rice.svg">
                </div>
                <div class="media-body ml-3">
                  <h5 class="heading text-warning mb-md-1">Les plats chaud</h5>
                  <p class="description d-none d-md-inline-block mb-0">Caoxinha, crêpe au tapioca, ...</p>
                </div>
              </a>
              <a href="#/menu" class="media d-flex align-items-center">
                <div class="icon icon-shape bg-gradient-success rounded-circle text-white">
                  <img src="./assets/vendor/nucleo/fonts/soft-drink.svg">
                </div>
                <div class="media-body ml-3">
                  <h6 class="heading text-success mb-md-1"> Les boissons</h6>
                  <p class="description d-none d-md-inline-block mb-0">Nous vous proposons toutes sortes de boissons,
                    jus, sodas, eau pétillante, thés froids</p>
                </div>
              </a>
            </div> 
          </div> -->
        </li>
        <li class="nav-item dropdown">
          <a href="#/landing" class="nav-link no-caret" data-toggle="dropdown" role="button" routerLinkActive="active" >
            <i class="ni ni-ui-04 d-lg-none"></i>
            <span class="nav-link-inner--text"> Composez votre propre Coupe !</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav align-items-lg-center ml-lg-auto">
        <!-- <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://www.facebook.com" target="_blank" data-toggle="tooltip"
            title="Like us on Facebook">
            <i class="fa fa-facebook-square"></i>
            <span class="nav-link-inner--text d-lg-none">Facebook</span>
          </a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link " href="#/contact" title="contact us">
            <i class="tim-icons icon-email-85"></i>
            <span class="nav-link-inner--text d-lg-none">Contact</span>
          </a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://www.instagram.com" target="_blank" data-toggle="tooltip"
            title="Follow us on Instagram">
            <i class="fa fa-instagram"></i>
            <span class="nav-link-inner--text d-lg-none">Instagram</span>
          </a>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link nav-link-icon" href="https://www.twitter.com" target="_blank" data-toggle="tooltip"
            title="Follow us on twitter">
            <i class="fa fa-twitter-square"></i>
            <span class="nav-link-inner--text d-lg-none">Twitter</span>
          </a>
        </li> -->
      </ul>
    </div>
  </div>
</nav>