<footer class="footer"
  [ngClass]="{'has-cards': getPath()!=='/user-profile' && getPath()!=='/register' && getPath()!=='/login'}">
  <!-- <div class="container container-lg"
    *ngIf="getPath()!=='/user-profile' && getPath()!=='/register' && getPath()!=='/login'">
    <div class="row">
      <div class="col-md-6 mb-5 mb-md-0">
        <div class="card card-lift--hover shadow border-0">
          <a [routerLink]="['/Açai']" title="Landing Page"> -->
            <!-- <img src="./assets/img/theme/landing.jpg" class="card-img"> -->
          <!-- </a>
        </div>
      </div>
      <div class="col-md-6 mb-5 mb-lg-0">
        <div class="card card-lift--hover shadow border-0">
          <a [routerLink]="['/menu']" title="Profile Page"> -->
            <!-- <img src="./assets/img/theme/profile.jpg" class="card-img"> -->
          <!-- </a>
        </div>
      </div>
    </div>
  </div> -->
  <div class="container">
    <div class="row row-grid align-items-center"
      [ngClass]="{'my-md': getPath()!=='/user-profile' && getPath()!=='/register' && getPath()!=='/login', 'mb-5':getPath()==='/user-profile' || getPath()==='/register' || getPath()==='/login'}">
      <div class="col-lg-12">
        <h3 class="text-primary font-weight-light mb-2">Oh non ! Ça y est, vous êtes arrivé(e) en bas de page</h3>
        <a (click)="topFunction()" style="all: unset; cursor:pointer">
          <h4 class="mb-0 font-weight-light">Mais vous pouvez remonter ! ^</h4>
        </a>
      </div>
    </div>
    <div class="row align-items-center justify-content-md-between">
      <div class="col-md-12 text-lg-center">
        <div>
          <i class="fa fa-copyright"></i>
          <!-- commenter/décommenter la ligne ci dessous en cas de problème sur le fichier -->
          <!-- {{test | date: 'yyyy'}} Angular template made by -->
          2023 Angular template made by
          <a href="https://www.creative-tim.com?ref=adsa-footer" target="_blank">Creative Tim</a>.
        </div>
      </div>
    </div>
  </div>
</footer>